/* User.css */

.user-container {
  display: block;
    padding: 20px; /* Add some padding */
    width: 600px;
}

.action-button {
    margin-right: 10px; /* Add some space between buttons */
}

.invoice-card {
    margin-top: 20px; /* Add some space between the buttons and the invoices */
}

.gross-submit{

margin-top: 15px;

}





.row-center{

text-align: center;
margin-top: 50px !important;

}


.form-center{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center ;
text-align: center;
margin-top: 40px;
}